<app-cursus-week-keuze (weekEvent)="haalDatumOp($event)"></app-cursus-week-keuze>
<table *ngIf="!isLoading; else retrievingCursussen">
    <thead>
        <td>Startdatum</td>
        <td>Duur</td>
        <td>Titel</td>        
    </thead>
    <tbody>
        <tr *ngFor="let cursusItem of lijstInGekozenWeek()">
            <td>{{cursusItem.Startdatum | date: 'dd/MM/yyyy'}}</td>
            <td>{{cursusItem.Duur}}</td>
            <td>{{cursusItem.Titel}}</td>
        </tr>
    </tbody>
</table>
<br>
<br>
<table *ngIf="!isLoading; else retrievingCursussen">
    <thead>
        <td>Startdatum</td>
        <td>Duur</td>
        <td>Titel</td>        
    </thead>
    <tbody>
        <tr *ngFor="let cursusItem of cursusList">
            <td>{{cursusItem.Startdatum | date: 'dd/MM/yyyy'}}</td>
            <td>{{cursusItem.Duur}}</td>
            <td>{{cursusItem.Titel}}</td>
        </tr>
    </tbody>
</table>

<ng-template #retrievingCursussen>
    <div>Cursussen worden opgehaald...</div>
</ng-template>
