<h2>Cursusoverzicht:</h2>
<div id="weekOverzicht">
    <button id="vorigeWeek"><</button>
    <h4>Weekoverzicht week [ {{ currentWeek }} ] jaar [ {{ currentYear }} ]</h4>
    <button id="volgendeWeek">></button>
</div>

<table>
    <thead>
        <td>Startdatum</td>
        <td>Duur</td>
        <td>Titel</td>        
    </thead>
    <tbody>
        <tr *ngFor="let cursusItem of cursusList">
            <td>{{cursusItem.Startdatum | date: 'dd/MM/yyyy'}}</td>
            <td>{{cursusItem.Duur}}</td>
            <td>{{cursusItem.Titel}}</td>
        </tr>
    </tbody>
</table>
