<h3>Tekstbestand invoeren:</h3>

    <b>Belangrijk: vul altijd een start- en einddatum in.</b>
    <div id="divInputFile">
        <p>Bestand:</p>
        <input id="inputFile" type="file" (change)="onFileSelected($event)">
    </div>
    <div id="divInputStartdatum">
        <p>Startdatum: </p>
        <input id="inputStartdatum" type="date" [(ngModel)]="startdatum">
    </div>
    <div id="divInputEinddatum">
        <p>Einddatum: </p>
        <input id="inputEinddatum" type="date" [(ngModel)]="einddatum">
    </div>
    <button id='fileOpsturen' class="btn btn-primary" (click)="readFile()">Invoeren</button>     



<div *ngIf="foutRegel != 0" class="foutRegel">
    <p>Bestand is niet in correct formaat op regel {{ foutRegel + 1 }}</p>
    <p>Er zijn geen cursusinstanties toegevoegd.</p>
</div>
<p *ngIf="!correctFormaat">'Bestand kan niet worden gevonden' en/of 'Bestand is niet in correct formaat.'</p>
<p id="toevoeging" *ngIf="aantalCursussenToegevoegd != 0 && aantalCursusInstantiesToegevoegd != 0">Er zijn {{ aantalCursussenToegevoegd }} cursussen en {{ aantalCursusInstantiesToegevoegd}} cursusinstanties toegevoegd.</p>
<p id="duplicaten" *ngIf="aantalDuplicaten != 0">Er zijn {{ aantalDuplicaten }} duplicaten gevonden.</p>
